.page-template-careerpage {
    p a {
        @include boldFont;
    }

    #grnhse_app {
        width: 100%;
    }

    #grnhse_iframe blockquote {
        display: none !important;
    }

    .content-item {
        margin-top: 0;
    }
}