.page-template-impactpage{

    .container {
        .page-section{
            &:nth-child(1), &:nth-child(3){
                margin-top: 15rem;
                display: flex;
                .page-section__image{
                    width: 40%;
                    img {
                        margin-top: 15rem;
                        max-width: 35rem;
                    }
                }
                .page-section__copy{
                    width: 60%;
                    h1 {
                        max-width: 60rem
                    }
                    p {
                        max-width: 65rem;
                        margin-bottom: 0;
                    }
                }
                @include respond(tab-port){
                    margin-top: 8rem;
                    margin-left:0;
                    flex-direction: column;
                    .page-section__copy{
                        width: 100%;
                        h1, p {
                            max-width: 100%;
                        }
                    }
                    .page-section__image{
                        display: none;
                    }
                }
            }
            &:nth-child(2) {
                .page-section__copy{
                    margin-top: 15rem;
                    padding-left: 40%;
                    @include respond(tab-port){
                        padding-left: inherit;
                    }
                }
            }
            &:nth-child(4){
                margin-top: 15rem;
                margin-bottom: 10rem;
                display: flex;
                .page-section__image{
                    width: 40%;
                    img {
                        max-width: 35rem;
                        margin-top: 15rem;
                    }
                }
                .page-section__copy{
                    width: 60%;
                }
                @include respond(tab-port){
                    margin-top: 5rem;
                    margin-bottom: 0;
                    margin-left:0;
                    flex-direction: column;
                    .page-section__image, .page-section__copy{
                        width: 100%;
                        margin-bottom: 0;
                    }
                    .page-section__image{
                        text-align: center;
                        order: 2;
                        margin-top: 0;
                        margin-bottom: 8rem;
                        img{
                            margin-top: 0 !important; 
                            max-width: 95%;
                        }                        
                    }
                }
            }
            h1 {
                margin-bottom: 6rem;
                max-width: 70rem;
            }
            p{
                max-width: 65rem;
                margin-bottom: 8rem;
            }
        }
    } 

}