//
// Color system
//

$primary : #231f20;
$primaryWhite : #FFFFFF;
$text : #333333;
$secondary : #8a8a8a;
$secondaryTwo: #dddede;
$lightGrey: #f6f6f6;
$buttonGrey: #2d2d2d;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;